:root
{
    --dark0:  #2e3440;
    --dark1:  #3b4252;
    --dark2:  #434c5e;
    --dark3:  #4c566a;

    --light0: #d8dee9;
    --light1: #e5e9f0;
    --light2: #eceff4;
    --light3: #ffffff;

    --frost0: #8fbcbb;
    --frost1: #88c0d0;
    --frost2: #81a1c1;
    --frost3: #5e81ac;

    --red:    #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green:  #a3be8c;
    --purple: #b48ead;

    --yellowRGBA: 235, 203, 139;
}

html {
  background-color: var(--light3);
  font-family: sans-serif;
  color: var(--dark1)
}

html.dark {
  background-color: var(--dark0);
  font-family: sans-serif;
  color: var(--light2);
}

nav {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h1 {
  color: var(--red);
}

h2 {
  color: var(--orange); 
}

h3 {
  color: var(--yellow);
}

h4 {
  color: var(--green);
}

h5 {
  color: var(--purple);
}

h6 {
  color: var(--orange);
}

a {
  color: var(--frost3);
}

a:hover {
  color: var(--frost2);
}

code {
  color: var(--frost3)
}

.dark code {
  color: var(--frost1)
}

pre {
  border-radius: 5px
}

pre code {
  padding: 10px 20px;
  display: inline-block;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 10px;
  margin-left: 0;
}

.tag-link {
  font-size: 13px;
  color: var(--yellow)
}

.tag-link:hover {
  color: rgba(var(--yellowRGBA), 0.5)
}
