---
import BaseLayout from "../layouts/BaseLayout.astro"

---

<BaseLayout>
<h1>Me</h1>
<a href="https://www.github.com/mimmyjau">github</a>
<a href="https://www.twitter.com/mimmyjau">twitter</a>
<p>I enjoy reading, learning, and sometimes writing. I like talking to people who are passionate about something niche and unpopular. I like synthesizing ideas and reconciling apparent contradictions.</p>
<p>I have a deep appreciation for art and artists. I think aesthetics is a worthwhile pursuit in and of itself.</p>
<p>I think there's no use in being strong if you aren't good, and there's no use in being good if you aren't strong. We need more moral courage.</p>
<p>I have a lot of respect for people who are lighthearted, focused, compassionate, and authentic.</p>
<p>I think we all have a personal obligation to figure out what it means to self-actualize, and then to do it.</p>
<p>I think the divine is incomprehensible.</p>
<p>Sola gratia.</p>
<h2 class="has-subtitle">Work and Study</h2>
<p class="subtitle"><em>reverse chronological</em></p>
<ul>
    <li>break from startups</li>
    <li>took some more classes in math and cs for "fun" (i.e. abstract algebra, combinatorics, algorithms, numerical analysis)</li>
    <li>more startups (marketplace)</li>
    <li>startups (social)</li>
    <li>private equity (every industry except tech, gambling, and addictive substances)</li>
    <li>management consulting (pe, banking, mining, energy)</li>
    <li>got accepted into medical school (to make my parents happy) but turned it down (to make me happy)</li>
    <li>looked through microscopes at glow-in-the-dark mice brains in a neurology lab</li>
    <li>tutored people preparing for the MCAT</li>
    <li>studied a little bit of many topics (i.e. biology, chemistry, physics, math, cs, econ), but mostly focused on the brain</li>
    <li>prepared desserts and milkshakes at a diner (last job as a teenager)</li>
    <li>ripped the covers off elementary school textbooks with my bare hands so that they could be rebound with newer covers (second job as a teenager)</li>
    <li>killed mosquitos (first job as a teenager) and had someone call me "superman" (because everyone hates mosquitos)</li>
</ul>
</BaseLayout>


<style>
.has-subtitle {
    margin-bottom: 0rem;
}
.subtitle {
    margin-top: 0rem;
}
</style>
