---
const { link } = Astro.props
const { params } = Astro.params
const { name, url, dateAdded, tags } = link
const date = new Date(dateAdded + "T23:59:59+13:00").toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
import Tags from "./Tags.astro"
---

<li>
    {date}
    <a href={url}>{name}</a>
    <span class="tags">
    <Tags tags={tags} />
</li>
