---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props;
const date = new Date(frontmatter.pubDate + "T23:59:59+13:00").toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
---

<BaseLayout>
    <h1 class="title">{ frontmatter.title }</h1>
    <p class="date">{ date }</p>
    { frontmatter.image ? <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> : null }
    <p class="tags">tags: 
        {frontmatter.tags.map((tag, index, arr) => 
            <>
                <a href={`/tags/${tag}`}>#{tag}</a>{index < frontmatter.tags.length - 1 ? ', ' : ''}
            </>
        )}
    </p>
    <hr />
    <slot />
</BaseLayout>

<style>
hr {
    color: #fff;

}
.title {
    margin-bottom: 0em;
}
.date {
    margin: 0em;
    color: #999;
}
.tags {
    margin: 0em;
}
</style>
